<div class="row">
  <div class="col-6">
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
      <p class="h6" center></p>
<div class="col-md-3 mx-auto my-5">
<div class="card" style="width: 18rem;" >
<img class="card-img-top" src="../../../assets/images/poste.ico" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">Reservation n° 2</h5>
  <p class="card-text">Service : Demande de retrait argent <br>
    Place : Tunis , 1002 <br>
    Date : 07/10/2020 , 09:40 <br>
  </p>
  <input class="btn btn-success" type="button" value="Accepté" style="width:15rem;" disabled/>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="col-6">
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
        <p class="h6" center></p>
<div class="col-md-3 mx-auto my-5">
<div class="card" style="width: 18rem;" >
  <img class="card-img-top" src="../../../assets/images/poste.ico" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Reservation n° 1</h5>
    <p class="card-text">Service : Ouvrir un compte assurance <br>
      Place : Farhat hached , 1000 <br>
      Date : 10/10/2020 , 10:20 <br>
    </p>
    <input [class]="statuscolor" type="button" value="En attente" style="width:15rem;"/>
  </div>
</div>
</div>
</div>
</div>
</div>
  </section>
  </div>
</div>